<!DOCTYPE html>
<html>
	<head>

		<script type="text/javascript" src="../js/angular.min.js"></script>

		<link rel="stylesheet" href="../css/app.css">

		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/controllers/myController.js"></script>

	</head>


	<body> 	
		<div ng-app="myApp">

			<div ng-controller="myController">
		
				<input ng-model="todo">
				<div>{{ todo }}</div>
				
				<button ng-click="addToList();">Add to list</button>

				<div>My Todo List</div>

				<div ng-repeat="item in list">
					{{ item }}
				</div>
				
			</div>

		</div>
	</body>

</html>



